@media screen and (max-width: 1280px) {
    .login-item{
        width: 100%;
    }

    .left-content{
        display: none;
    }

    .right-content{
        width: 100%;
    }
}


@media screen and (max-width: 1280px){
    .login-item{
        width: 40%;
    }

}

@media screen and (max-width: 720px){
    .login-item{
        width: 70%;
        height: 60%;
    }
}

@media screen and (max-width: 768px){
    .login-item{
        width: 70%;
        height: 60%;
    }
}

@media (min-width: 481px) and (max-width: 767px){
    .login-item{
        width: 98%;
        height: 80%;
    }

    .register-i{
        flex-wrap: wrap;
    }

    .register-i p{
        align-self: flex-end;
    }

    .register-i a, p{
        width: 100%;
        text-align: center;
    }
  }

  @media (min-width: 320px) and (max-width: 480px) {
        .login-item{
            width: 100%;
            height: 90%;
        }
        
        .print-f{
            font-size: 3.6rem;
        }

        .user input{
            width: 100%;
        }

        .register-i{
            flex-wrap: wrap;
        }
        
        .register-i p{
            align-self: flex-end;
        }

        .register-i a, p{
            width: 100%;
            text-align: center;
            font-size: 1.5rem;
        }
  }
