body {
    background: var(--white);
}

.h2-title {
    background: var(--turquoise);
    letter-spacing: 0.3rem;
    color: var(--white);
    font-size: 8rem;
    text-align: center;
    padding: 1.25rem 0;
    box-shadow: 1px 3px 7px rgba(66, 66, 66, 0.411);
}
.h2-title .fa {
    font-size: 6rem;
}
.main__container {
    width: 80vw;
    height: fit-content;
    margin: 5rem auto;
    border: 1px solid var(--dark-golden);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    box-shadow: 2px 2px 6px var(--tan);
}
.main__container a {
    color: var(--dark-golden);
    text-decoration: underline;
    font-size: 2.4rem;
    font-family: var(--body-font);
    font-weight: 600;
    position: fixed;
    left: 3rem;
    top: 17.5rem;
    z-index: 3;
}
.main__container a .fa {
    font-size: 2.1rem;
}
.h-article {
    width: 100%;
    padding: 2rem;
}

.h-article h2 {
    color: var(--dark-golden);
    font-size: 6rem;
    font-family: var(--subtitle-regular);
    margin-left: 0.6rem;
}

.h-article h4, .h-article p {
    font-family: var(--body-font);
}

.h-article h4 {
    color: var(--turquoise);
    font-size: 3rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
}
.h-article p {
    font-size: 1.5rem;
    margin-left: 1rem;
}
.body-article {
    width: 100%;
    font-family: var(--body-font);
    font-size: 1.6rem; 
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-item {
    width: 65%;
    justify-self: center;
}

.img-item img {
    width: 100%;
    height: 100%;
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    -ms-border-radius: 5px 0 0 0;
    -o-border-radius: 5px 0 0 0;
}

.ingredients {
    width: 30%;
    display: grid;
    align-items: center;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    -ms-border-radius: 0 5px 0 0;
    -o-border-radius: 0 5px 0 0;
}

.keys {
    width: 95%;
    margin: 0 auto;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
}

.keys ul li span {
    font-weight: 900;
}

.keys ul {
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.recipe {
    width: 90%;
    margin: 0 auto;
}

.recipe div {
    margin: 2rem;
}

.keys, .ingredients {
    color: var(--white);
}

.keys {
    background: var(--turquoise);
    font-size: 2rem;
}

.ingredients {
    background: var(--dark-golden);
    font-size: 2.4rem;
}

.prepare {
    width: 100%;
}

.prepare ol li {
    margin: 2rem 0;
    font-size: 2rem;
    padding-bottom: 1.8rem;
}

.to-prepare{
    padding-top: 2rem;
    padding-bottom: 1.6rem;
    font-size: 2.6rem;
    font-weight: bold;
    text-decoration: underline;
}

.keys ul li,
.ingredients ul li {
    list-style: none;
    margin: 1rem 0;
}
.waves {
    top: -5rem;
}
