body {
    background: var(--white);
}


.h2-title {
    color: var(--turquoise  );
    font-size: 8rem;
    text-align: center;
    letter-spacing: 0.3rem;
    width: 80vw;
    margin: 0 auto;
    padding: 1.25rem 0;
    border-bottom: 2px solid var(--dark-golden);
}
.h2-title .fa {
    font-size: 6rem;
}


.main__container {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.articles__container {
    text-align: left;
    width: 70%;
    margin: 0 auto;
    padding: 2rem 0;
}
article {
    width: 100%;
    margin: 0 auto;
    padding: 3rem 0 6rem;
    border-bottom: 2px solid var(--dark-golden);
}
article img {
    width: 75%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
h3 {
    color: var(--turquoise);
    font-size: 4.5rem;
    margin-bottom: 1.3rem;
}
article .article-data {
    width: 100%;
    margin: 1rem auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.article-data h4 {
    color: var(--dark-golden);
    font-size: 2.4rem;
    width: fit-content;
}
.article-data p {
    color: rgb(180, 159, 138);
    width: fit-content;
    font-size: 1.2rem;
    margin: 0 0 0 2rem;
}
.article-data a {
    color: rgb(180, 159, 138);
    font-size: 1.8rem;
    font-family: var(--body-font);
    width: fit-content;
    margin: 0 0 0 3rem;
}



/* SIDEBAR */
#blog-sidebar {
    width: 37rem;
    margin: 0  auto;
    position: relative;
    text-align: center;
    padding: 8vmin 0;
}

#blog-sidebar .sidebar-border {
    position: relative;
    width: 90%;
    margin: 0 auto;
    border: 2px solid var(--dark-golden);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#blog-sidebar h4 {
    width: 80%;
    margin: 0 auto;
    font-size: 2em;
    color: var(--turquoise);
    font-family: var(--body-font);
    font-weight: 600;
    text-align: center;
    padding: 3vmin 0 1vmin;
}

#blog-sidebar .pic-of-the-day img {
    width: 80%;
}

#blog-sidebar .pic-of-the-day p {
    font-family: montserrat-semibold;
    text-transform: uppercase;
    font-size: .8em;
    font-style: italic;
    color: rgba(18, 18, 18, .3);
}

#blog-sidebar .search {
    width: 80%;
    position: relative;
    margin: 0 auto;
    padding-top: 3vmin;
}

#blog-sidebar .search::before {
    content: '';
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-top: 2px solid var(--dark-golden);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

#blog-sidebar .search .search-input {
    display: flex;
    justify-content: center;
    padding-top: 3vmin;
}

#blog-sidebar .search input[type="text"] {
    height: 3vh;
    width: 70%;
    border: 1px solid var(--navy);
    border-right: none;
    color: var(--dark-golden);
    border-radius: 2px 0 0 2px;
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    -ms-border-radius: 2px 0 0 2px;
    -o-border-radius: 2px 0 0 2px;
}

#blog-sidebar .search input[type="text"]::placeholder {
    font-size: 1.3vmin;
    color: gray;
}

#blog-sidebar .search button[type="submit"] {
    width: 40px;
    height: 3vh;
    border: 1px solid var(--navy);
    background-color: var(--dark-golden);
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    border-radius: 0 2px 2px 0;
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    -ms-border-radius: 0 2px 2px 0;
    -o-border-radius: 0 2px 2px 0;
}

#blog-sidebar .newsletter-sidebar {
    width: 80%;
    margin: 0 auto;
    padding: 3vmin 0;
}

#blog-sidebar .newsletter-sidebar::before {
    content: '';
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-top: 2px solid var(--dark-golden);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

#blog-sidebar .newsletter-sidebar form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2vmin;
}

#blog-sidebar .newsletter-sidebar input[type="email"] {
    height: 3vh;
    width: 60%;
    border: 1px solid var(--navy);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

#blog-sidebar .newsletter-sidebar input[type="email"]::placeholder {
    font-family: var(--body-font);
    font-size: 1.3vmin;
    color: gray;
} 

#blog-sidebar .newsletter-sidebar input[type="submit"] {
    height: 3vh;
    width: 30%;
    background-color: var(--dark-golden);
    color: var(--white);
    font-family: var(--body-font);
    font-weight: 600;
    font-size: 1.5rem;
    margin-left: .5vmin;
    cursor: pointer;
    border: 0;
    padding: 0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

#blog-sidebar .newsletter-sidebar input[type="submit"]:hover {
    background-color: var(--turquoise);
    color: var(--white);
}


@media (max-width: 498px) {
    .h2-title {
        font-size: 4.3rem;
    }
    .h2-title .fa {
        font-size: 3rem;
    }
}
