.container-resume{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.card-item{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1rem;
    padding: 0.6% 2% 2% 2%;
    box-shadow: 2px 2px 4px 2px #ccc;
    overflow-y: auto;
}

.card-title{
    width: 100%;
    height: 8rem;
    line-height: 6rem;
    display: flex;
    margin-top: 1.2%;
}

.card-title h3{
    font-size: 4.8rem;
    color: var(--turquoise);
}

.info{
    width: 100%;
}

.info ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.info ul li{
    font-size: 2.6rem;
    font-family: var(--subtitle-regular);
    text-align: left;
}

.products{
    width: 70%;
    height: 60%;
}


.product{
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid var(--turquoise);
    margin-bottom: 2rem;
}

.info, .product {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 20% 15% 15%;
    justify-items: center;
}

.info li{
    font-family: var(--subtitle-regular);
    font-size: 3.4rem;
    color: var(--dark-golden);
    list-style-type: none;
}

.img-product{
    width: 40%;
}

.img-product img{
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.units{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10%;
}

.units form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.price, .total{
    font-size: 2.2rem;
    font-family: var(--body-font);
    color: var(--turquoise);
}

.units button{
    width: 100%;
    height: 4rem;
    font-size: 2rem;
    color: var(--turquoise);
    background-color: var(--light-blue);
    border-style: none;
    cursor: pointer;
}

.unit-text{
    font-size: 2rem;
    font-family: var(--body-font);
    color: var(--dark-golden);
}

.del{
    width: 100%;
    font-size: 2.8rem;
    display: flex;
    justify-content: center;
}

.del a > .fa-trash-alt{
    color: var(--turquoise);
}

.to-pay{
    width: 28%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.4%;
    max-height: 45%;
}


.bold-total{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2% 2%;
    font-size: 2.4rem;
    font-family: var(--body-font);
    border-top: 4px solid #ccc;
}

.text{
    color: var(--turquoise);
}

.t{
    color: var(--dark-golden);
}

.policy{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1rem;
}

.policy span{
    display: block;
    font-size: 1.4rem;
    font-family: var(--body-font);
    color: var(--turquoise);
}

.policy a{
    color: var(--dark-golden);
}

input[type="submit"]{
    width: 100%;
    height: 6rem;
    font-size: 2.6rem;
    font-family: var(--body-font);
    background-color: var(--dark-golden);
    color: var(--white);
    border-style: none;
    cursor: pointer;
}


/**************** MEDIA QUERIES ****************/

/********* DESKTOP ********/

@media screen and (width: 1530px){
    .policy span{
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 1280px){
    .card-item{
        width: 98%;
    }

    .card-title{
        margin-top: 0;
        justify-content: center;
    }

    .policy{
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 1080px){
    .card-item{
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
        row-gap: 2rem;
    }

    .to-pay{
        row-gap: 2.4rem;
        width: 100%;
        height: 50rem;
        justify-content: center;
    }

    .bold-total{
        justify-content: space-around;
    }

    .policy{
        flex-wrap: nowrap;
    }
}

/***** TABLET ******/

@media screen and (max-width: 890px){

    /* .info{
        display: none;
    } */

    .img-product{
        width: 80%;
    }

    .products{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .info{
        grid-template-columns: 40% 20% 20% 20%;
    }

    .product{
        width: 100%;
        height: 30rem;
        grid-template-columns: 40% 20% 20% 20%;
    }

    .product-img{
        min-width: 35rem;
    }

    .unit-text{
        width: 100%;
        text-align: center;
    }

    .units form{
        row-gap: 1rem;
    }

    .units form button{
        width: 60%;
    }

    .to-pay{
        min-width: 35rem;
        min-height: 24rem;
    }

    .policy{
        flex-wrap: nowrap;
    }

    .to-pay form{
        width: 100%;
    }
}

@media screen and (max-width: 520px){
    .product{
        width: 100%;
        height: 30rem;
    }

    .to-pay form{
        width: 100%;
    }
}
